html, body {
  margin: 0 auto;
  font-family: 'Saira Extra Condensed', sans-serif;
}

h3 {
  font-size: 36pt;
}

header {
  background-color: rgb(0,0,0);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 48pt;
}

.header{
  color:white;
  background-color:#000000;
  text-align:center;
}
.header:after {
    content: " ";
    display:block;
    position: relative;
    top:0px;left:0px;
    width:100%;
    height:36px;
    background: linear-gradient(#000000 0%, transparent 0%), linear-gradient(135deg, #ffffff 33.33%, transparent 33.33%) 0 0%, #ffffff linear-gradient(45deg, #ffffff 33.33%, #000000 33.33%) 0 0%;
    background: -webkit-linear-gradient(#000000 0%, transparent 0%), -webkit-linear-gradient(135deg, #ffffff 33.33%, transparent 33.33%) 0 0%, #ffffff -webkit-linear-gradient(45deg, #ffffff 33.33%, #000000 33.33%) 0 0%;
    background: -o-linear-gradient(#000000 0%, transparent 0%), -o-linear-gradient(135deg, #ffffff 33.33%, transparent 33.33%) 0 0%, #ffffff -o-linear-gradient(45deg, #ffffff 33.33%, #000000 33.33%) 0 0%;
    background: -moz-linear-gradient(#000000 0%, transparent 0%), -moz-linear-gradient(135deg, #ffffff 33.33%, transparent 33.33%) 0 0%, #ffffff -moz-linear-gradient(45deg, #ffffff 33.33%, #000000 33.33%) 0 0%;
    background-repeat: repeat-x;
    background-size: 0px 100%, 9px 27px, 9px 27px;
    }


main {
  display: flex;
  justify-content: space-around;
}

.basics {
  flex-basis: 20%;
  margin: 10px 20px;
}

.story {
  flex-basis: 30%;
  margin: 10px 20px;

}

.picture {
  flex-basis: 15%;
  margin: 10px 20px;
  display: flex;
  align-items: center;
}

.circular {
	width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}


dt {
  color: rgb(93,150,149);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(0,0,0);
}

a:hover {
  text-decoration: underline;
}

p {
  border-left-style: solid;
  border-left-width: 4px;
  padding-left: 10px;
}
