html, body {
  margin: 0 auto;
  font-family: 'Saira Extra Condensed', sans-serif;
}

header {
  background: linear-gradient(#040404 30%, transparent 49%),
        linear-gradient(-45deg, white 33%, transparent 33%) 0 50%,
        white linear-gradient(45deg, white 33%, #000000 33%) 0 50%;
  background-repeat: repeat-x;
  background-size: 1px 100%, 40px 40px, 40px 40px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 48pt;
}


main {
  display: flex;
  justify-content: space-around;
}

.basics {
  flex-basis: 20%;
  margin: 10px 20px;
}

.story {
  flex-basis: 30%;
  margin: 10px 20px;

}

.picture {
  flex-basis: 15%;
  margin: 10px 20px;

}

.circular {
	width: 110px;
	height: 110px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://link-to-your/image.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}


dt {
  color: rgb(93,150,149);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(0,0,0);
}

a:hover {
  text-decoration: underline;
}

p {
  border-left-style: solid;
  border-left-width: 4px;
  padding-left: 10px;
}
